.rain{
    background-color: $background-color;
    background-image: url("../img/rain.jpeg");
}

.lightrain{
    background-color: $background-color;
    background-image: url("../img/lightrain.jpeg");
}

.snow{
    background-color: $background-color;
    background-image: url("../img/snow.jpeg");
}

.night{
    background-color: $night-color;
    background-image: url("../img/night.jpg");
}

.fog{
    background-color: $fog-color;
    background-image: url("../img/fog.jpeg");
    
}

.clouds{
    background-color: $background-color;
    background-image: url("../img/clouds.jpeg");
}

.sun{
    background-color: $background-color;
    background-image: url("../img/sun.jpeg");
}

.stars{
    background-color: $background-color;
    background-image: url("../img/stars.jpeg") ;
}

.fewclouds{
    background-color: $background-color;
    background-image: url("../img/fewclouds.jpeg") ;
}

.lightrain{
    background-color: $background-color;
    background-image: url("../img/lightrain.jpeg") ;
}

.lightning{
    background-color: $background-color;
    background-image: url("../img/lightning.jpeg") ;
}
